.padre{
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-basis: 50%;
    background: url("../img/fondo-contacto.jpg") no-repeat;
    background-position-y: -180px;
}

.mensaje1{   
    margin-left:220px;
    margin-right: 180px;
}

footer a{

    text-decoration: none;
}
   



@media screen and (max-width:450px){
    .padre{
        margin-top: 50px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        background-position-y: -142px;
    }

    .mensaje1{
        margin-top:60px;
        margin-right: 0px;
        margin-left:0px;
    }
    
}






@media screen and (min-width:640px) and (max-width: 1070px){

    .padre{
        margin:56px 0 0 0;
    }


    .mensaje1{
        margin: 29px 47px 0 0 ;        
    }

    form label{
        font-weight: bold;
        margin-left: 10px;
    }
    
    textarea{
        margin-left: 10px;
    }


}